<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>plCrs :: web app - main page</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-LN+7fdVzj6u52u30Kp6M/trliBMCMKTyK833zpbD+pXdCLuTusPj697FH4R/5mcr" crossorigin="anonymous">
  </head>
  <body>
    <div class="container-fluid" style="margin-top:50px;">
                  <div class="row">
              <div class="col-md-12 mb-3 mb-sm-0">
                <div class="card">
                  <h5 class="card-header">Bsn information</h5>
                  <div class="card-body">
                    
                    <p class="card-text" id="bsn_name">Name</p>
                    <p class="card-text" id="bsn_address">Address</p>
                    <p class="card-text" id="bsn_phone">Phone</p>
                    <p class="card-text" id="bsn_email">Email-address</p>
                    <p class="card-text" id="bsn_vat_id">Vat-id</p>
                    <p class="card-text" id="bsn_po_box">P.O. BOX</p>
                    <a href="bsnInfoEdit.html" class="btn btn-primary">Insert/edit info</a>
                  </div>
                </div>
              </div>
                    
                    <div class="raw mt-3">       
              <div class="col-md-12">
                <div class="card">
                  <h5 class="card-header">Subs list</h5>
                  <div class="card-body">
                    <h5 class="card-title">Invoices </h5>
                    <table class="table table-striped table-hover">
                                <thead class="table-dark">
                                  <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">invoice id</th>
                                    <th scope="col">Name</th>
                                    <th scope="col">Date</th>
                                    <th scope="col">Status</th>
                                    <th scope="col">Download</th>
                                  </tr>
                                </thead>
                                <tbody>
                                  <tr>
                                    <th scope="row">1</th>
                                    <td>1234567890</td>
                                    <td>Otto</td>
                                    <td>yyyy-dd-mm</td>
                                    <td>pending</td>
                                    <td>url link to pdf file</td>
                                  </tr>
                                  
                                </tbody>
                              </table>
                    
                  </div>
                </div>
              </div>
             </div>
            </div>
    </div>
    
    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/js/bootstrap.bundle.min.js" integrity="sha384-ndDqU0Gzau9qJ1lfW4pNLlhNTkCfHzAVBReH9diLvGRem5+R9g2FzA8ZGN954O5Q" crossorigin="anonymous"></script>
  </body>
  </html>
